:root {
  --color-red: #ff0000;
  --color-green: #00ff00;
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --font-size-20: 18px;
  --font-size-18: 16px;
  --font-weight-700: 700;
  --font-weight-500: 500;
}

p,
span {
  font-family: var(--font-family);
}

.bold-700 {
  font-weight: var(--font-weight-700);
}

.bold-500 {
  font-weight: var(--font-weight-500);
}

.f-20 {
  font-size: var(--font-size-20);
}

.f-18 {
  font-size: var(--font-size-18);
}

.f-color-red {
  color: var(--color-red);
}

.f-color-green {
  color: var(--color-green);
}

.mb-0 {
  margin-bottom: 0;
}

.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(100% / 3 - 20px);
  min-width: 300px;
  box-sizing: border-box;

  //first and forth card to have margin right
  &:nth-child(2),
  &:nth-child(5n) {
    margin-right: 16px;
    margin-left: 16px;
  }

  @media screen and (max-width: 1024px) {
    width: calc(50% - 20px);

    &:nth-child(2),
    &:nth-child(3) {
      margin-right: 16px;
      margin-left: 16px;
    }

    &:nth-child(4) {
      margin-left: 16px;
    }
  }

  @media screen and (max-width: 767px) {
    width: calc(100% - 20px);
    margin-right: 0;
    margin-left: 0;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.card-header {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.left-section {
  width: 50%;
}

.right-section {
  width: 50%;
}
